body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#phaser-game-wrapper {
    display: flex;
    height: 100%;
}

#phaser-game {
    margin: auto;
}

@media only screen and (max-width: 768px) {

    body,
    html {
        overflow: hidden;
    }

    #phaser-game {
        width: 100%;
        height: 100%;
    }
}